body {
  font-size: 16px;
}

@media (max-width: 640px) {
  body {
    font-size: 12px;
  }
}

.line {
  margin: 1em 0;
}
.line input[type=text] {
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline-style: none;
  font-size: 1.12em;
  border-bottom: 1px solid #666;
  width: 100%;
  color: #333;
}

.line > div.current {
  background: #fff8d1;
}

.equal {
  color: green;
}

.added {
  color: grey;
}

.removed {
  color: red;
  text-decoration: line-through;
}

input[type=button] {
  font-size: 1.5em;
}

span {
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none;
}

.controls {
  display: flex;
  align-items: center;
}
.controls select {
  margin: 0 1em;
  min-width: 7em;
}
a.help {
  margin-left: auto;
}