<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/index.css?v=10">
  <title>NCE</title>
</head>
<body>
  <div id="app">
  </div>
  <template id="main">
    <section>
      <div v-show="loading">Loading...</div>
      <div v-show="!loading">
        <a :href="videoLink" target="nce-bilibili"><h1>{{title.en}}</h1></a>
        <audio ref="audio" :src="`//tim-zhang.gitee.io/nce-resource${uk ? '-uk' : ''}/mp3/${id}.mp3`" controls controlsList="nodownload"></audio>
        <div class="line" v-for="(line, idx) in lines">
          <input autocomplete="nope" autocorrect="off" autocapitalize="off" spellcheck="false"
            ref="line" v-if="!line.diff" type="text" v-model="line.answer"
            :placeholder="line.placeholder" :autofocus="idx === 0"
            @keydown.up="gotoPrevLine"
            @keydown.down="gotoNextLine"
            @keydown.enter.exact="gotoNextLine"
            @keydown="onLineKeydown(line, $event)"
            @focus="onLineFocus(idx)"
            @paste="onPaste(idx, $event)"
          >
          <div v-else :class="{current: line.current}" @click="onLineKeydown(line, $event)">
            <span v-for="d in line.diff"
              :class="[d.added ? 'added' : d.removed ? 'removed' : 'equal', {highlight: shouldHighlight(d)}]"
            >{{d.value}}</span>
          </div>
        </div>
        <div class="controls">
          <input type="button" value="Submit" @click="submit" v-show="!lines[0] || !lines[0].diff"/>
          <input type="button"  value="Restore" @click="restore" v-show="lines[0] && lines[0].diff"/>
          <select v-model="id">
            <option v-for="i in lessons" :value="i.id">{{i.id}} {{i.title}}</option>
          </select>
          <a @click.prevent="showHelp" href="###" title="Shortcuts" class="help">❓</a>
        </div>
      </div>
      <footer>{{id}}</footer>
    </section>
  </template>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.bootcss.com/jsdiff/3.5.0/diff.min.js"></script>
  <script src="js/titles.js?v=3"></script>
  <script src="js/helper.js?v=12"></script>
  <script src="js/lrc.js?v=12"></script>
  <script src="js/index.js?v=15"></script>
</body>
</html